.card-check-icon
  font-size 20px
  margin-right 5px
  cursor pointer
  vertical-align middle

.card-link
  cursor pointer
  vertical-align middle
  color play-blue

.card-check-list
  .list-group-item
    padding-left 10px
    padding-right 10px
