play-text = #333333
play-blue = #2d9be4
play-light-grey = #c9c9c9
play-med-grey = #8d8d8d
play-dark-grey = #655e5e
play-green = #41ea2b

play-overlay-grey = alpha(play-light-grey, 0.8)
play-overlay-light-grey = alpha(play-light-grey, 0.4)
