@keyframes spin {
  0% { transform: rotate3d(1,1,1,0deg) rotateY(0deg) }
  50% { transform: rotate3d(1,1,1,360deg) rotateY(360deg) }
  100% { transform: rotate3d(1,1,1,720deg) rotateY(720deg) }
}

cube-size = 50px

.game-die-spinning
  perspective none
  perspective-origin 0 0

  .cube
    position relative
    width cube-size
    margin 0 auto
    transform-origin (cube-size / 2) (cube-size / 2)
    transform-style preserve-3d
    animation spin 2s infinite linear

    & > div
      position absolute
      width cube-size
      height cube-size
      border 2px play-med-grey
      box-shadow inset 0 0 (cube-size / 5) play-med-grey
      background-color black

    .cube-symbol
      width 80%
      height 80%
      position relative
      top 50%
      transform translateY(-50%)
      margin auto
      background-size contain
      background-position center
      background-repeat no-repeat

    .cube-chaos
      background-image url("/images/planechase-symbol-chaos.jpg")

    .cube-walk
      background-image url("/images/planechase-symbol-walk.jpg")

    .cube-back
      transform translateZ(-(cube-size / 2)) rotateY(180deg)

    .cube-right
      transform rotateY(-270deg) translateX((cube-size / 2))
      transform-origin top right

    .cube-left
      transform rotateY(270deg) translateX(-(cube-size / 2))
      transform-origin center left

    .cube-top
      transform rotateX(-90deg) translateY(-(cube-size / 2))
      transform-origin top center

    .cube-bottom
      transform rotateX(90deg) translateY((cube-size / 2))
      transform-origin bottom center

    .cube-front
      transform translateZ((cube-size / 2))

