.game-card-image
  width 100vw
  height 100vh
  background-size contain
  background-position center
  background-repeat no-repeat

game-action-base()
  position fixed
  width 10%
  color black
  border none
  outline none
  cursor pointer
  background-color play-overlay-light-grey
  &:active
    background-color play-overlay-grey

.game-button
  game-action-base()
  height 100px
  top 50%
  transform translateY(-50%)
  font-size 30px

  &.game-button-forward
    right 0
    border-radius 10px 0 0 10px

  &.game-button-back
    left 0
    border-radius 0 10px 10px 0
