.header-link
  &:hover
    text-decoration none

.header-image
  display inline-block
  vertical-align middle
  width 75px
  margin-right 15px
  svg
    .shape
      fill play-text

.header-text
  vertical-align middle
  color play-text
