.header-link
  &:hover, &:focus
    text-decoration none

.header-image
  display inline-block
  vertical-align middle
  width 40px
  margin-right 10px
  svg
    .shape
      fill play-text

.header-text
  vertical-align middle
  color play-text
