@import '../../node_modules/react-toggle/style.css'
@require './colors'
@require './header'
@require './landing'
@require './checklist'
@require './card-spoiler'
@require './game'
@require './new-game'
@require './die'

@media (min-width: 500px) and (max-width: 767px)
  .col-mobile-landscape-6
    width 50%
    float left

