@require './colors'

// Global
//

body
  margin 0

// Checklist
//

.card-check-icon
  cursor pointer

.card-link
  cursor pointer
  color play-blue

// Card spoiler
//

.card-spoiler
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color play-overlay-grey

.card-spoiler-image
  width 100%
  height 100%
  background-size contain
  background-position center
  background-repeat no-repeat

// Game
//

.game-card-image
  width 100vw
  height 100vh
  background-size contain
  background-position center
  background-repeat no-repeat

// Utils
//

.hidden
  display none
